body {
    margin: 0;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;


}


.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;

}


.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;


}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}


h1 {
    margin: 0;
    padding: 50px;
    font-size: 5rem;
    line-height: 2;

}

h2 {
    font-size: 3rem;
}

h1,
h2 {
    color: #66BFBF;
    font-family: 'Indie Flower', cursive;

}

h3,
a {
    color: #11999E;

}

#programmer {
    font-weight: normal;
}

hr {
    background-color: white;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    height: 2px;
    width: 5%;

}


.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

#right-image {
    float: right;
    margin-left: 30px;
}

.profile
{
    padding: 50px;
    width: 35%;
    margin: 0 auto;
}

.contact-me
{
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    
}

.bottom-container
{
    background-color: #66BFBF;
    padding: 50px;
}

.bottom-container p
{
    color: #eaf6f6;
    font-size: 12px;
    margin-top: 30px;

}

.footer-link
{
    margin: 20px;
    text-decoration: none;
}

